@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins';
  text-align: center;
  padding: 25px;
}

h1 {
  color: hsl(170, 100%, 30%);
  font-size: 2.5em;
  font-weight: bold;
}

.table-content {
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  width: 90%;
  overflow: hidden;
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.25);
}

.table-content thead tr {
  background-color: hsl(170, 100%, 30%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-weight: bold;
}

.table-content th,
.table-content td {
  padding: 12px 15px;
}

.table-content tbody tr {
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.table-content tbody tr:nth-of-type(even) {
  background-color: hsl(0, 0%, 95%);
}

.table-content tbody tr:nth-last-of-type(1) {
  border-bottom: 2px solid hsl(170, 100%, 30%);
}

.table-content tbody tr.active-row {
  font-weight: bold;
  color: hsl(170, 100%, 30%);
}

.input-group {
  border-collapse: collapse;
  background-color: hsl(170, 100%, 30%);
  margin-top: 50px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.table-input td {
  padding: 12px 15px;
}

.form-control {
  height: 20px;
}

.btn-primary {
  height: 30px;
  width: 80px;
  color: hsl(0, 0%, 100%);
  font-family: 'Poppins';
  font-weight: bold;
  background-color: hsla(120, 70%, 65%, 0.45);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: hsla(120, 70%, 65%, 0.3);
}

.btn-edit {
  background-color: hsla(60, 90%, 55%, 0.9);
  margin: 5px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: hsla(60, 90%, 55%, 0.7);
}

.btn-delete {
  background-color: hsla(0, 95%, 55%, 0.9);
  margin: 5px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: hsla(0, 95%, 55%, 0.75);
}
